body {
    color: #855136;
   text-align: center;
    background: #EFECDD;
   
   
}
p {
    font-size: 18px;
    margin: 30px 0;
}
a {
    color: #855136;
    text-decoration: none;

}
a:hover {
    color: #855136;
    text-decoration: underline;
}


.btn-primary {
    margin-top: 20px;
    background-color: #855136;
    color: bisque;
    border: bisque;
   
}
.btn-primary:hover {
    background-color: bisque;
    color: #855136;
    border: 1.5px #855136 solid;
}

